<launch>
    <arg name="use_gazebo" default="false"/>
    <arg name="joystick_available" default="false"/>
    <arg name="model" value="$(find robot_description)/urdf/robot.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <include file="$(find robot_base)/launch/sensors_base.launch" unless="$(arg use_gazebo)"/>

    <group if="$(arg use_gazebo)">
        <node name="rqt_robot_steering"
            pkg="rqt_robot_steering"
            type="rqt_robot_steering"
            unless="$(arg joystick_available)">

            <param name="default_topic" value="/base_controller/cmd_vel"/>
        </node>

        <include file="$(find robot_base)/launch/gazebo.launch">
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <include file="$(find robot_base)/launch/drive_base.launch">
        <arg name="use_gazebo" value="$(arg use_gazebo)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <node pkg="tf"
		type="static_transform_publisher"
		name="front_caster_link_broadcaster"
		args="0.061 0 -0.080 0 0 0 base_link front_caster_link 100"/>
    <node pkg="tf"
		type="static_transform_publisher"
		name="rear_caster_link_broadcaster"
		args="-0.061 0 -0.080 0 0 0 base_link rear_caster_link 100"/>
</launch>
