<launch>
    <arg name="use_gazebo" default="false"/>
    <arg name="onscreen_steering" default="false"/>
    <arg name="model" value="$(find robot_description)/urdf/robot.urdf.xacro"/>

    <machine name="robot"
        address="robot-desktop"
        env-loader="~/ros_env.sh"
        default="true"
        user="robot"
        unless="$(arg use_gazebo)"/>

    <!-- simulation - local machine only -->
    <machine name="dev-machine"
        address="localhost"
        if="$(arg use_gazebo)"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <include file="$(find robot_base)/launch/sensors_base.launch" unless="$(arg use_gazebo)"/>

    <group if="$(arg use_gazebo)">
        <node name="rqt_robot_steering"
            pkg="rqt_robot_steering"
            type="rqt_robot_steering"
            if="$(arg onscreen_steering)">

            <param name="default_topic" value="/base_controller/cmd_vel"/>
        </node>

        <include file="$(find robot_base)/launch/gazebo.launch"/>
    </group>

    <include file="$(find robot_base)/launch/drive_base.launch">
        <arg name="use_gazebo" value="$(arg use_gazebo)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>
</launch>
