<launch>
    <arg name="use_gazebo" default="false"/>

    <rosparam command="load"
        file="$(find robot_base)/param/diff_drive.yaml"
        ns="base_controller"/>

    <group if="$(arg use_gazebo)">
        <rosparam command="load"
            file="$(find robot_base)/param/joints.yaml"
            ns="joint_state_controller"/>

        <node name="controller_spawner"
            pkg="controller_manager"
            type="spawner"
            output="screen"
            args="joint_state_controller base_controller"/>
    </group>

    <group unless="$(arg use_gazebo)">
        <include file="$(find robot_base)/launch/robot_hw.launch"/>

        <node name="base_node"
            pkg="robot_base"
            type="base_node"
            output="screen"/>

        <node pkg="controller_manager"
            name="controller_spawner"
            type="spawner"
            output="screen"
            args="base_controller"/>
    </group>
</launch>
