<launch>
    <node name="pid_node" pkg="pid" type="controller" ns="left_wheel" output="screen">
        <param name="Kp" value="5.0"/>
        <param name="Ki" value="0.0"/>
        <param name="Kd" value="0.1"/>
        <param name="upper_limit" value="255"/>
        <param name="lower_limit" value="-255"/>
        <param name="windup_limit" value="10"/>
        <param name="max_loop_frequency" value="100.0"/>
        <param name="min_loop_frequency" value="100.0"/>

        <!-- topic_from_controller = control_effort -->
        <!-- setpoint_topic = setpoint -->
        <param name="topic_from_plant" value="vel"/>
     </node>

    <node name="pid_node" pkg="pid" type="controller" ns="right_wheel" output="screen">
        <param name="Kp" value="5.0"/>
        <param name="Ki" value="0.0"/>
        <param name="Kd" value="0.1"/>
        <param name="upper_limit" value="255"/>
        <param name="lower_limit" value="-255"/>
        <param name="windup_limit" value="10"/>
        <param name="max_loop_frequency" value="100.0"/>
        <param name="min_loop_frequency" value="100.0"/>

        <!-- topic_from_controller = control_effort -->
        <!-- setpoint_topic = setpoint -->
        <param name="topic_from_plant" value="vel"/>
     </node>

    <!-- must come after base_node initialization -->
    <node name="fw_node"
          pkg="rosserial_python"
          type="serial_node.py"
          output="screen"
          respawn="true">
<!--         <param name="port" value="/dev/ttyTHS1"/> -->
        <param name="port" value="/dev/ttyACM0"/>
    </node>
</launch>
