<launch>
    <include file="$(find robot_base)/launch/hw_base.launch"/>

    <node name="base_node"
          pkg="robot_base"
          type="base_node"
          output="screen"/>

    <rosparam command="load" file="$(find robot_base)/param/robot_base.yaml"/>

    <node pkg="controller_manager"
          name="controller_spawner"
          type="spawner"
          output="screen"
          args="base_controller"/>
</launch>
